{% extends 'base.html' %}

{% block content %}
<style>
    @media (min-width: 768px) {
        .login-style {
            max-width: 50%;
        }
    }
</style>

<div class="container" style="padding-top:100px;">
    <div class="row">
        <div class="col-lg-12 login-style">
            <h3>Sign into your account</h3>
            <p>Your password has been successfully changed. Click to <a href="{% url 'home' %}"> continue </a></p>
        </div>
    </div>
</div>
{% include "base/js.html" %}
{% endblock %}