{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    @media (min-width: 768px) {
        .login-style {
            max-width: 80%;
            margin-top: 100px;
        }
    }
</style>
<div class="container">
    <div class="row" style="padding-top:100px;">
        <div class="col-lg-12 login-style">
            <h5>Password reset complete</h5>
            <p>You have successfully reset your password!. Now you can <a href="{% url 'account:login' %}">log in</a>
                with your new password</p>
        </div>
    </div>
</div>
{% include "base/js.html" %}
{% endblock %}