{% extends 'base.html' %}
{% load static %}

{% block header %}
{% include 'base/navbar.html' %}
{% endblock %}

{% block content %}
<main class="main">
    <!-- Hero -->
    <div class="container-fluid about-banner div-padding bottom-margin home-nav-bg-white c">
        <div class="grid-container-about-banner b">
            <div class="container-fluid about-div-info a">
                <h2>About Brillianzhub</h2>
                <p class="info-p">
                    At Brillianzhub, we strive to be your trusted partner in securing your financial future.
                </p>
                <p>
                    With our comprehensive approach to real estate, stocks, and financial coaching, we provide tailored
                    solutions that enable you to make informed investment decisions, grow your wealth, and achieve
                    long-term financial success.
                </p>
            </div>

            <div class="hero-img p-0">
                <img src="{% static 'images/lady_coffee.png' %}" class="img-fluid">
            </div>
        </div>
    </div>

    <!-- Lesson Counter -->
    <div class="container-fluid users-counter-holder div-padding bottom-margin">
        <div class="container-fluid grid-users-counter bg-dark-blue">
            <div class="grid-item-users">
                <h5>40+</h5>
                <p>Lessons on <br>investments</p>
            </div>

            <div class="grid-item-users">
                <h5>40+</h5>
                <p>Lessons on <br>investments</p>
            </div>

            <div class="grid-item-users">
                <h5>40+</h5>
                <p>years of <br>experience</p>
            </div>

        </div>
    </div>

    <!-- Testimonials -->
    <div class="container-fluid testimonial-holder1 div-padding bottom-margin b">
        <div class="grid-container-testimonial">
            <div class="testimonial-hold-div p-0 b">
                <div class="container-fluid testimonial-holder bg-dark-blue">
                    <h5>Testimonials</h5>
                    <div class="container-fluid testimonial-holder-div p-0">
                        <div class="quote-div alignleft">
                            <!-- <h1>&#34;</h1> -->
                            <img src="{% static 'images/comma.png' %}" class="img-fluid">
                        </div>

                        <div class="testimony home-nav-bg-green alignright">
                            <div class="myTestimony p-0">
                                <p>
                                    Your courses have been an incredible resource for me. With clear, insightful
                                    guidance, I've gained a deeper understanding of real estate and stock investments.
                                    The practical knowledge I've acquired has empowered me to make informed financial
                                    decisions with confidence.<br><br>

                                    Thank you for equipping me with the tools to navigate the complexities of the
                                    investment world
                                </p>

                                <h6>Alex Johnson</h6>
                            </div>

                            <div class="myTestimony p-0">
                                <p>
                                    The practical knowledge I've acquired has empowered me to make informed financial
                                    decisions with confidence.<br><br>

                                    Thank you for equipping me with the tools to navigate the complexities of the
                                    investment world
                                </p>

                                <h6>Musa Johnson</h6>
                            </div>

                            <div class="myTestimony p-0">
                                <p>
                                    Your courses have been an incredible resource for me. With clear, insightful
                                    guidance, I've gained a deeper understanding of real estate and stock investments.
                                    The practical knowledge I've acquired has empowered me to make informed financial
                                    decisions with confidence.<br><br>

                                    Thank you for equipping me with the tools to navigate the complexities of the
                                    investment world
                                </p>

                                <h6>Uba Johnson</h6>
                            </div>

                            <!-- This is the control buttons -->
                            <center class="mb-0">
                                <div class="slider-icons-div p-0">
                                    <img class="{% static 'img-fluid dot-icon' %}" onclick="currentSlide(1)">
                                    <img class="{% static 'img-fluid dot-icon' %}" onclick="currentSlide(2)">
                                    <img class="{% static 'img-fluid dot-icon' %}" onclick="currentSlide(3)">
                                </div>
                            </center>
                        </div>
                        <div class="clr"></div>
                    </div>
                </div>
            </div>
            <div class="testimonial-hold-div p-0 desktop b">

            </div>
        </div>
    </div>

    <!-- Our Partners -->
    <div class="container-fluid partners-div-holder div-padding bottom-margin b">
        <h2>Our Partners</h2>
        <section class="customer-logos slider">
            <div class="slide"><img
                    src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg"></div>
            <div class="slide"><img src="https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg"></div>
            <div class="slide"><img src="https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg"></div>
            <div class="slide"><img
                    src="https://image.freepik.com/free-vector/colors-curl-logo-template_23-2147536125.jpg"></div>
            <div class="slide"><img src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg">
            </div>
            <div class="slide"><img src="https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg">
            </div>
            <div class="slide"><img
                    src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg"></div>

        </section>
    </div>

    <!-- Meet the team -->
    <div class="container-fluid team-div-holder div-padding bottom-margin team-mb b">
        <h2>Meet the team</h2>
        <div class="grid-container-team p-0 c">
            <div class="container-fluid team-member team-member1">
                <!-- <img src="images/boy.jpg" class="img-fluid alignleft"> -->
                <div class="member-info home-nav-bg-white">
                    <h5>John Doe</h5>
                    <h6>Chief Executive Officer</h6>
                </div>
                <div class="clr"></div>
            </div>

            <div class="container-fluid team-member team-member1">
                <!-- <img src="images/boy.jpg" class="img-fluid alignleft"> -->
                <div class="member-info home-nav-bg-white">
                    <h5>John Doe</h5>
                    <h6>Chief Executive Officer</h6>
                </div>
                <div class="clr"></div>
            </div>

            <div class="container-fluid team-member team-member1">
                <!-- <img src="images/boy.jpg" class="img-fluid alignleft"> -->
                <div class="member-info home-nav-bg-white">
                    <h5>John Doe</h5>
                    <h6>Chief Executive Officer</h6>
                </div>
                <div class="clr"></div>
            </div>

            <div class="container-fluid team-member team-member1">
                <!-- <img src="images/boy.jpg" class="img-fluid alignleft"> -->
                <div class="member-info home-nav-bg-white">
                    <h5>John Doe</h5>
                    <h6>Chief Executive Officer</h6>
                </div>
                <div class="clr"></div>
            </div>
        </div>

        <center>
            <div class="p-0" id="about_btn">
                <button class="out-fill-btn about-btn" onclick="viewTeamMembers()">
                    View More
                    <img src="{% static 'icons/arrow_down_about.svg' %}">
                </button>
            </div>
        </center>

        <div class="grid-container-team p-0 c" id="team-members">
            <div class="container-fluid team-member team-member1">
                <!-- <img src="images/boy.jpg" class="img-fluid alignleft"> -->
                <div class="member-info home-nav-bg-white">
                    <h5>John Doe</h5>
                    <h6>Chief Executive Officer</h6>
                </div>
                <div class="clr"></div>
            </div>

            <div class="container-fluid team-member team-member1">
                <!-- <img src="images/boy.jpg" class="img-fluid alignleft"> -->
                <div class="member-info home-nav-bg-white">
                    <h5>John Doe</h5>
                    <h6>Chief Executive Officer</h6>
                </div>
                <div class="clr"></div>
            </div>

            <div class="container-fluid team-member team-member1">
                <!-- <img src="images/boy.jpg" class="img-fluid alignleft"> -->
                <div class="member-info home-nav-bg-white">
                    <h5>John Doe</h5>
                    <h6>Chief Executive Officer</h6>
                </div>
                <div class="clr"></div>
            </div>

            <div class="container-fluid team-member team-member1">
                <!-- <img src="images/boy.jpg" class="img-fluid alignleft"> -->
                <div class="member-info home-nav-bg-white">
                    <h5>John Doe</h5>
                    <h6>Chief Executive Officer</h6>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </div>

    <!-- How our consultation works -->
    <div class="container-fluid consultation-div-holder div-padding b">
        <h2>How our <br class="phone">consultation works</h2>
        <p>
            Get tailored guidance and personalized strategies for <br class="desktop">your financial success in these
            four simple steps:
        </p>

        <div class="container-fluid consultation-div p-0">
            <div class="grid-container-consultation">
                <div class="instruction-div instruct-highlight">
                    <h5>Free Initial consultation</h5>
                    <p>
                        During our introductory meeting, we attentively listen to your financial goals, current
                        situation, and career aspirations.
                    </p>
                </div>

                <div class="instruction-div">
                    <h5> Discover our approach and services</h5>
                    <p>
                        Explore our company's services, operational methods, pricing, and important disclaimers.
                    </p>
                </div>

                <div class="instruction-div">
                    <h5>Contract signing</h5>
                    <p>
                        Proceed with the signing of the contract.
                    </p>
                </div>

                <div class="instruction-div">
                    <h5>Coaching commences</h5>
                    <p>
                        Personal/team coaching classes and exercises commence.
                    </p>
                </div>
            </div>

            <!-- Bootom arrows -->
            <div class="container-fluid desktop p-0">
                <img src="{% static 'icons/aboutpage_arrow.svg' %}" class="img-fluid about-arrow" id="arrow1">
                <img src="{% static 'icons/aboutpage_arrow.svg' %}" class="img-fluid about-arrow arrowl" id="arrow2">
                <img src="{% static 'icons/aboutpage_arrow.svg' %}" class="img-fluid about-arrow arrowl" id="arrow3">
            </div>
        </div>

        <center>
            <!-- calendly link -->
            <a href="">
                <button class="filled-btn-lg">
                    Book Your Consultation Now
                </button>
            </a>
        </center>
    </div>

</main>


<script type="text/javascript">
    //window.onscroll = function() {myalert()};



    let slideIndex = 0;
    showSlides();
    function currentSlide(n) {
        alert(n);
        //showSlides(slideIndex = n);
    }

    function showSlides() {
        let i;
        let slides = document.getElementsByClassName("myTestimony");
        let dot_icon = document.getElementsByClassName("dot-icon");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
            dot_icon[i].src = "icons/slide-icon-inactive.svg";
            if (i == (slides.length - 1)) {
                dot_icon[i].src = "icons/slide-icon-small.svg";
            }
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        slides[slideIndex - 1].style.display = "block";
        dot_icon[slideIndex - 1].src = "icons/slide-icon-active.svg";
        setTimeout(showSlides, 5000); // Change image every 2 seconds
    } 
</script>

<script type="text/javascript" src="js/ha.js"></script>
<script src="bootstrap-5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

{% endblock %}