{% load static %}
<!-- Header-->

<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5" id="intro" style="color: #ff8c00;"> Brillianz: Real Estate, Stocks,
                    & Financial coaching</h1>
                <p class="fs-4">Brillianz Asset And Properties is a leading financial services firm based in Stuttgart.
                    With expertise in real estate, stocks, and financial coaching, we help our clients build a secure
                    future. Our dedicated team of professionals ensures personalized strategies for successful
                    investments.
                </p>
                <a class="btn btn-primary btn-lg" href="#!">Call to action</a>
            </div>
        </div>
    </div>
</header>