{% load static %}
<!-- Header-->
<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold"> Master Financial Intelligence!</h1>
                <p class="fs-4">At Brillianz Hub, we believe that the key to a secure and prosperous future lies in
                    mastering financial intelligence, real estate investment, stocks, and wealth creation strategies.
                    Are you ready to take control of your financial destiny? Join us on this exciting journey of
                    empowerment and wealth building!</p>
                <a class="btn btn-primary btn-lg" href="#!">Call to action</a>
            </div>
        </div>
    </div>
</header>

<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h2 class="display-5 fw-bold"> What you stand to gain!</h2>
            </div>
        </div>
    </div>
</header>