<!-- <nav>
    <ul id="navigation">
        <li><a class="active" href="{% url 'home' %}">home</a></li>
        <li><a href="#">Blog<i class="ti-angle-down"></i></a>
        <li><a href="#">About<i class="ti-angle-down"></i></a>
            <ul class="submenu">
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'accounts:account-home' %}">Profile</a></li>
                <li><a href="#">Custom Design</a></li>

                <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'accounts:register' %}">Register</a></li>
                <li><a href="{% url 'accounts:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </li>

    </ul>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-lg-5">
        <a class="navbar-brand" href="{% url 'home' %}">Brillianz Hub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'blog:posts' %}">Finance & Investment
                        Tips</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'blog:posts' %}">Finance Calculator</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:account-home' %}">AI Based Tools</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                {% if request.user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">Log in</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:register' %}">Sign up</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>