{% extends 'base.html' %}
{% load static %}

{% block header %}
{% include 'base/navbar.html' %}
{% endblock %}

{% block content %}
<main class="main no-main">
    <div class="container-fluid courses2-div-house home-nav-bg-green p-0 c">
        <div class="grid-container-courses2-div">
            <div class="partition courses-list-div-holder course-top-padding home-nav-bg-white desktop b">
                <div class="container-fluid courses-list-div p-0 a">
                    <h2>Courses</h2>
                    <div class="accordion accordion-flushe" id="accordionFlushExample">
                        <!-- Repeat this accordion-item div if you have other category that have other courses in it, else use the list -->
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button  collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    Personal Financial Management
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse mb-0 collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <a class="dropdown-item" href="#">
                                        Course 1
                                    </a>

                                    <a class="dropdown-item" href="#">
                                        Course 2
                                    </a>

                                    <a class="dropdown-item" href="#">
                                        Course 3
                                    </a>

                                    <a class="dropdown-item" href="#">
                                        Course 4
                                    </a>

                                    <a class="dropdown-item" href="#">
                                        Course 5
                                    </a>
                                </div>
                            </div>
                        </div>

                        <ul class="accordion-ul">
                            <li>
                                <a href="modules.html">Stock Investment</a>
                            </li>

                            <li>
                                <a href="modules.html">Real Estate Investment</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="partition courses-container-div  c-overview-div course-top-padding b">
                <div class="container-fluid courses-overview-div p-0 a">
                    <!-- Continue where you left off -->
                    <div class="container-fluid last-lesson-div l-lesson-div2 home-nav-bg-white c">
                        <div class="next-lesson-div p-0">
                            <div class="progress-holder-div">
                                <h6 class="mb-0">
                                    Quiz
                                </h6>
                                <p class="module-p mb-4">
                                    Module 1
                                </p>
                                <div class="grid-container-progress2 p-0 b mb-0">
                                    <div class="progress " role="progressbar" aria-label="Success example"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-dark-blue" style="width: 100%"></div>
                                    </div>
                                    <span class=""> 10/10 questions</span>
                                </div>
                            </div>
                            {% if user_quiz_score >= 70 %}
                            <div class="quiz-completed-div p-0 b">
                                <center>
                                    <h3>Quiz Complete!</h3><br />
                                    <h2>Score: {{ user_quiz_score }}%</h2><br />
                                    <p>
                                        Way to go! You’re doing a <br class="phone">great job
                                    </p>

                                    <a href="dashboard-modules.html">
                                        <button class="filled-btn">
                                            Complete Module
                                        </button>
                                    </a>
                                </center>
                            </div>
                            {% else %}
                            <div class="try-again-div p-0 b">
                                <center>
                                    <h2>Try Again</h2><br />
                                    <h2>Score: {{ user_quiz_score }}%</h2><br />
                                    <p>
                                        You didn't reach the pass mark of 70%. Would you like to retry the <br
                                            class="phone">incorrect questions?
                                    </p>

                                    <a href="#">
                                        <button class="out-fill-btn btnS">
                                            Close Quiz
                                        </button>
                                    </a>

                                    <a href="#">
                                        <button class="filled-btn">
                                            Retry
                                        </button>
                                    </a>
                                </center>
                            </div>
                            {% endif %}

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}