{% extends 'base.html' %}

{% load static %}

{% block header %}
{% include 'base/navbar.html' %}
{% endblock %}




{% block content %}

<main class="main no-main">
    <div class="container-fluid blog-hero-img post-img div-padding c">
        <h2>Blog</h2>
    </div>

    <!-- Blog Posts -->
    <div class="container-fluid blog-post-holder div-padding c">
        <h6>
            <a href="blog.html">Blog</a>
            &gt; <span>{{ post.title }}</span>
        </h6>

        <div class="blog-post-details b">
            <h6>{{ post.publish }}</h6>
            <h3>{{ post.title }}</h3>
            <p>{{ post.body|safe }}</p>
        </div>
    </div>

    <!-- Related Posts -->
    <div class="container-fluid  blog-holder no-pt div-padding c">
        <h4>Related Articles</h4>
        <div class="grid-container-browse-post-div c">

            {% for post in related_posts %}
            <div class="blog-post b">
                {% if post.image %}
                <div class="post-img">
                    <img src="{{ post.image.url }}" class="img-fluid">
                </div>
                {% endif %}
                <div class="post-details">
                    <h6>{{ post.publish }}</h6>
                    <div class="post-title-div p-0">
                        <h5>{{ post.title }}</h5>
                    </div>

                    <p>{{ post.description }}</p>

                    <a href="{% url 'blog:post_detail' slug=post.slug %}">
                        <button class="out-fill-btn">
                            Read More
                            <img src="{% static 'icons/arrow_right.svg' %}">
                        </button>
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</main>


{% endblock %}