{% extends 'base.html' %}
{% load static %}

{% block header %}
{% include 'base/navbar.html' %}
{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Latest on Investment Ideas</h1>
        <p>Join us as we explore a wide range of topics, from understanding basic financial concepts to mastering
            advanced investment techniques. </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->


    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Ten top things about finance</h2>
                <img src="{% static 'img/about/finance.png' %}" alt="..." class="img-thumbnail">
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Stock Market Basics</h2>
                <img src="{% static 'img/about/investment.jpg' %}" alt="..." class="img-thumbnail">
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Real Estate vs Stocks</h2>
                <img src="{% static 'img/about/networking.png' %}" alt="..." class="img-thumbnail">
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>

            <div class="col-md-4">
                <h2>Financial Management Fundamentals</h2>
                <img src="{% static 'img/about/networking.png' %}" alt="..." class="img-thumbnail">
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>


{%endblock %}