{% extends 'base.html' %}
{% load static %}

{% block header %}
{% include 'base/navbar.html' %}
{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Latest on Investment Ideas</h1>
        <p>Join us as we explore a wide range of topics, from understanding basic financial concepts to mastering
            advanced investment techniques. </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>


<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            {% for post in post %}
            <div class="col-md-4">
                <h2>{{ post.title }}</h2>
                {% if post.image %}
                <img src="{{ post.image.url }}" alt="..." class="img-thumbnail">
                {% endif %}
                <p>{{post.description }} </p>
                <p><a class="btn btn-secondary" href="{% url 'blog:post_detail' slug=post.slug %}" role="button">View
                        details
                        &raquo;</a></p>
            </div>
            {% endfor %}

        </div>

        <hr>

    </div> <!-- /container -->

</main>


{%endblock %}