{% extends 'base.html' %}
{% load static %}

{% block header %}
{% include 'base/navbar.html' %}
{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        {% if stock %}
        <h1 class="display-4">Latest on Stock Courses</h1>
        <p>Join us as we explore a wide range of topics, from understanding basic financial concepts to mastering
            advanced investment techniques. </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        {% else %}
        <h1 class="display-4">Relax</h1>
        {% endif %}
    </div>
</div>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">

            {% if stock %}
            {% for obj in stock %}
            <div class="syllabus-info">
                {% for module in stock.modules.all %}
                <p>
                    {{ module.title }}
                </p>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <h2>{{ obj.title }}</h2>
                <p>{{obj.overview }} </p>
                <p><a class="btn btn-secondary" href="#" role="button">View
                        details
                        &raquo;</a></p>
            </div>
            {% endfor %}
            {% elif real %}
            {% for obj in real %}
            <div class="col-md-4">
                <h2>{{ obj.title }}</h2>
                <p>{{obj.overview }} </p>
                <p><a class="btn btn-secondary" href="#" role="button">View
                        details
                        &raquo;</a></p>
            </div>
            {% endfor %}
            {% elif finance_mgt %}
            {% for obj in finance_mgt %}
            <div class="col-md-4">
                <h2>{{ obj.title }}</h2>
                <p>{{obj.overview }} </p>
                <p><a class="btn btn-secondary" href="#" role="button">View
                        details
                        &raquo;</a></p>
            </div>
            {% endfor %}

            {% endif %}
        </div>

        <hr>

    </div> <!-- /container -->

</main>


{%endblock %}