{% extends 'base.html' %}
{% load static %}
{% block header %}
{% include 'base/navbar.html' %}
{% endblock %}

{% load crispy_forms_tags %}


{% block content %}




<div class="container">
    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow">
                <div id="form-container" class="card-body">
                    <form id="calculator1_form" , method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-info" type="submit" value="Calculate">
                    </form>

                    <div id="savings-container">
                        {% if savings %}
                        <p>Total money saved over the period: {{ savings }}</p>
                        {% endif %}
                    </div>
                    <div id="profit-container">
                        {% if profit %}
                        <p>Return on savings: {{ profit }}</p>
                        {% endif %}
                    </div>
                    <div id="result-container">
                        {% if result %}
                        <p>Total money earned over the period: {{ result }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}