{% extends 'base.html' %}
{% load static %}
{% block header %}
{% include 'base/navbar.html' %}
{% endblock %}


{% block content %}
<main class="main no-main">
    <div class="container-fluid cal-div-holder div-holder home-nav-bg-green contact-div nav-clearance c">
        <div class="grid-container-contact-div div-padding">
            <div class="calculator-bg first-div-deatils  img-holder b">
                <div class="container-fluid signup-holder2">
                    <h2>Savings Target <br>Calculator</h2>
                </div>
            </div>

            <div class="form-holder-div2 disclaimer-div-holder c">
                <div class="container-fluid disclaimer-div disclaimer-div1 c">
                    <h5>Savings Goal Calculator</h5>

                    <p>
                        It is not simply a financial exercise to set savings targets; it's an essential step on the path
                        toward securing your financial future.
                    </p>

                    <p class="disclaimer-p">
                        For your financial journey, it will bring clarity,
                        discipline, and resilience, which will lead to a stable and prosperous life. Individuals can
                        take active steps to achieve their goals, while at the same time ensuring that they are
                        financially healthy through recognition of the importance of setting savings objectives.
                    </p>
                </div>

                <div id="form-container" class="container-fluid form-details c">

                    {% include 'snippets/savings_target_calculator.html' %}

                </div>
            </div>
        </div>
    </div>

    <!-- Results div -->
    <div class="container-fluid results-div home-nav-bg-white p-0 c" id="response_container">
        <div class="grid-container-result-div p-0">
            <div class="grid-item-result-div1 desktop b">
                <div class="disclaimer-holder">
                    <div class="container-fluid disclaimer-div p-0 c">
                        <h5>Disclaimer</h5>
                        <p>
                            Our investor's calculator is designed to provide guidance on potential investment returns.
                            It is essential to understand that this tool serves as a guide.
                        </p>

                        <p class="last-p">
                            After using the calculator to assess rates and returns, we recommend booking a consultation
                            with Brillianzhub's team of financial advisor for a comprehensive and detailed discussion
                            tailored to your specific investment
                            needs.
                        </p>

                        <a href="{% url 'consult:book_appointment' %}">
                            <button class="filled-btn-lg">Book Consultation</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="grid-item-result-div2 b">
                <div class="container-fluid form-details c" style="background: #F3FDFD;">
                    <div class="container-fluid earnings-div p-0">
                        <div class="style-form form-mb">
                            <label class="form-label">Recommended Monthly Savings</label>
                            <input type="text" class="form-control" id="monthly_savings" readonly
                                style="border: 1px solid #050505;">
                        </div>

                        <div class="style-form form-mb">
                            <label class="form-label">Total Saved</label>
                            <input type="text" class="form-control" id="my_savings" readonly
                                style="border: 1px solid #050505;">
                        </div>

                        <div class="style-form form-mb">
                            <label class="form-label">Total Return</label>
                            <input type="text" class="form-control" id="total_profit" readonly
                                style="border: 1px solid #050505;">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Appears only on phone -->
            <div class="grid-item-result-div1 phone b">
                <div class="disclaimer-holder">
                    <div class="container-fluid disclaimer-div p-0 c">
                        <h5>Disclaimer</h5>
                        <p>
                            Our investor's calculator is designed to provide guidance on potential investment returns.
                            It is essential to understand that this tool serves as a guide.
                        </p>

                        <p class="last-p">
                            After using the calculator to assess rates and returns, we recommend booking a consultation
                            with Brillianzhub's team of financial advisor for a comprehensive and detailed discussion
                            tailored to your specific investment
                            needs.
                        </p>

                        <a href="{% url 'consult:book_appointment' %}">
                            <button class="filled-btn-lg">Book Consultation</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Learn more  -->
    <div class="container-fluid learn-compound-div div-padding home-nav-bg-green a" id="">
        <div class="learn-video-holder b">
            <h5>Learn more about savings target</h5>

            <iframe src="https://www.youtube.com/embed/gyiiqUQgEeA?si=lqpbNwDjbN-zmzqC" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>

            <a href="https://www.youtube.com/embed/gyiiqUQgEeA?si=lqpbNwDjbN-zmzqC" target="_Blank">
                <button class="filled-btn-lg ">
                    Watch on YouTube
                </button>
            </a>
        </div>
    </div>


</main>

<script>
    $(document).ready(function () {
        $('#form-container').on('submit', 'form', function (event) {
            event.preventDefault(); // Prevent the default form submission

            var formData = $(this).serialize();

            var response_show = document.getElementById("response_container");

            $.ajax({
                type: 'POST',
                url: '{% url "analyser:savings_target_calculator" %}',
                data: formData,
                success: function (response) {
                    if (response.success) {
                        // Display the result in the result-container
                        // $('#result-container').html('<p>Result: ' + response.result + '</p>');

                        document.getElementById("monthly_savings").value = response.result;
                        document.getElementById("my_savings").value = response.savings;
                        document.getElementById("total_profit").value = response.profit;

                        // document.getElementById("earnings-div2").style.display = "block";

                        response_show.scrollIntoView({ behavior: 'smooth' });

                    } else if (response.errors) {
                        // Handle form validation errors (e.g., display error messages)
                        alert('Form submission failed. Please correct the errors.');
                    }
                },
                error: function (xhr, status, error) {
                    // Handle other Ajax errors
                    alert('An error occurred while submitting the form.');
                }
            });
        });
    });
</script>


{% endblock %}