{% extends 'base.html' %}
{% load static %}
{% block header %}
{% include 'base/navbar.html' %}
{% endblock %}


{% block content %}
<main class="main no-main">
    <div class="container-fluid cal-div-holder div-holder home-nav-bg-green contact-div nav-clearance c">
        <div class="grid-container-contact-div div-padding">
            <div class="calculator-bg first-div-deatils  img-holder b">
                <div class="container-fluid signup-holder2">
                    <h2>Stock Return's <br>Calculator</h2>
                </div>
            </div>

            <div class="form-holder-div2 disclaimer-div-holder c">
                <div class="container-fluid disclaimer-div disclaimer-div1 c">
                    <h5>Return on Investment on Stock</h5>
                    <p>
                        Investors can project and visualize the expected growth or return of their stock investments
                        with the help of our stock return calculator.
                    </p>

                    <p class="disclaimer-p">
                        By inputting the investment amount, the stock symbol (for example, AMZN for Amazon
                        Inc.), and selecting the investment duration buttons. With the aid of this tool, people can make
                        wise investment choices and match their stock holdings to their long-term financial goals.
                    </p>
                </div>

                <div id="form-container" class="container-fluid form-details c">

                    {% include 'snippets/stock_return_form.html' %}

                </div>
            </div>
        </div>
    </div>

    <!-- Results div -->
    <div class="container-fluid results-div home-nav-bg-white p-0 c" id="response_container">
        <div class="grid-container-result-div p-0">
            <div class="grid-item-result-div1 desktop b">
                <div class="disclaimer-holder">
                    <div class="container-fluid disclaimer-div p-0 c">
                        <h5>Disclaimer</h5>
                        <p>
                            Our investor's calculator is designed to provide guidance on potential investment returns.
                            It is essential to understand that this tool serves as a guide.
                        </p>

                        <p class="last-p">
                            After using the calculator to assess rates and returns, we recommend booking a consultation
                            with us for a comprehensive and detailed discussion tailored to your specific investment
                            needs.
                        </p>

                        <a href="{% url 'consult:book_appointment' %}">
                            <button class="filled-btn-lg">Book Consultation</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="grid-item-result-div2 b">
                <div class="container-fluid form-details c" style="background: #F3FDFD;">
                    <div class="container-fluid earnings-div p-0">
                        <div class="style-form form-mb">
                            <label class="form-label">Expected average return for the period (%)</label>
                            <input type="text" class="form-control" id="pct_return" readonly
                                style="border: 1px solid #050505;">
                        </div>
                        <div class="style-form form-mb">
                            <label class="form-label" id="expected_average_return">Expected average profit for $1000.00
                                invested within
                                this period
                                ($)</label>
                            <input type="text" class="form-control" id="return_on_investment" readonly
                                style="border: 1px solid #050505;">
                        </div>
                        <div class="style-form form-mb">
                            <label class="form-label" id="expected_total_return">Total return on
                                investment
                                ($)</label>
                            <input type="text" class="form-control" id="total_return" readonly
                                style="border: 1px solid #050505;">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Appears only on phone -->
            <div class="grid-item-result-div1 phone b">
                <div class="disclaimer-holder">
                    <div class="container-fluid disclaimer-div p-0 c">
                        <h5>Disclaimer</h5>
                        <p>
                            Our investor's calculator is designed to provide guidance on potential investment returns.
                            It is essential to understand that this tool serves as a guide.
                        </p>

                        <p class="last-p">
                            After using the calculator to assess rates and returns, we recommend booking a consultation
                            with us for a comprehensive and detailed discussion tailored to your specific investment
                            needs.
                        </p>

                        <a href="{% url 'consult:book_appointment' %}">
                            <button class="filled-btn-lg">Book Consultation</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Learn more  -->
    <div class="container-fluid learn-compound-div div-padding home-nav-bg-green a" id="">
        <div class="learn-video-holder b">
            <h5>Learn more about returns on investment on stocks</h5>

            <iframe src="https://www.youtube.com/embed/gyiiqUQgEeA?si=lqpbNwDjbN-zmzqC" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>

            <a href="https://www.youtube.com/embed/gyiiqUQgEeA?si=lqpbNwDjbN-zmzqC" target="_Blank">
                <button class="filled-btn-lg ">
                    Watch on YouTube
                </button>
            </a>
        </div>

        <div id="chart-container" class="learn-video-holder b">
            <h5>Learn more about returns on investment on stocks</h5>
        </div>
    </div>


    <div class="container-fluid learn-compound-div div-padding home-nav-bg-green a" id="">
        <div class="learn-video-holder b">
            <h5>Learn more about returns on investment on stocks</h5>


        </div>

        <div id="sticker-container" class="learn-video-holder b">
            <h5>Learn more about returns on investment on stocks</h5>
        </div>
    </div>


</main>


<script>
    $(document).ready(function () {
        $('#form-container').on('submit', 'form', function (event) {
            event.preventDefault();

            var formData = new FormData(this);

            // Get the value of the clicked button and append it to the FormData
            var clickedButton = $(document.activeElement);
            formData.append(clickedButton.attr('name'), clickedButton.val());

            console.log(formData);

            var response_show = document.getElementById("response_container");

            $.ajax({
                type: 'POST',
                url: '{% url "analyser:stock_return" %}',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {

                        if (response.chart) {
                            $('#chart-container').html('<img src="data:image/png;base64, ' + response.chart + '" alt="Stock Chart">');
                        }

                        if (response.stock_ticker) {
                            $('#sticker-container').html('<p>' + response.stock_ticker + '</p>');
                        }

                        $('#expected_average_return').html('Expected average profit for $' + response.invested_amount + '.00 invested within this period');

                        document.getElementById("pct_return").value = response.pct_return;
                        document.getElementById('return_on_investment').value = response.investment_return;
                        document.getElementById('total_return').value = response.total_return;

                        response_show.scrollIntoView({ behavior: 'smooth' });

                    } else if (response.errors) {
                        alert('Form submission failed. Please correct the errors.');
                    }
                },
                error: function (xhr, status, error) {
                    // Handle other Ajax errors
                    alert('An error occurred while submitting the form.');
                }
            });
        });
    });

</script>

{% endblock %}